---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Grid from '../components/Grid.svelte';
import GridItem from '../components/GridItem.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { items } from "../content/wishlist/wishlist.json";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-full h-full">
			<Grid>
				{items.map(item => <GridItem title={item.title} link={item.link} image={item.image} />)}
			</Grid>
		</main>
	</body>
</html>
